

@media  (max-width: 1199px) {


}



@media  (max-width: 991px) {
 
  .header .mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link .mr-hover-effect{
    display: none;
  }
  .header .mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
    padding: 8px 10px;
  }
  .header .mainmenu-area .navbar .navbar-brand {
    padding-left: 0px;
  }

  .hero-area .hero-img{
    position: relative;
    max-width: 50%;
    width: auto;
    left: 50%;
    top: 0px;
    margin-top: 0px;
    transform: translateX(-50%);
  }
  .mainmenu-area{
    padding: 10px 0px;
    border-bottom: 0px;
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-moz-gradient(to bottom, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .index3 .mainmenu-area,
  .index4 .mainmenu-area
  {
    background: #fff;
  }

  .hero-area
   {
    padding: 150px 0px 150px;
}


.video-play-btn {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
}
.video-play-btn:before {
  width: 80px;
  height: 80px;
}
.hero-area .left-content .content .title {
  font-size: 40px;
  line-height: 50px;
}
.hero-area .left-content .content .text {
  font-size: 16px;
  line-height: 26px;
}
.hero-area .left-content{
  margin-top: 44px;
  text-align: center;
}
.hero-area .left-content .content .subscribe-area{
  padding: 0px 100px;
}
.hero-area::after{
  border-radius: 0px;
}
.hero-area {
  padding: 77px 0px 228px;
}
.single-feature {
  margin-bottom: 30px;
}
.features .base-btn1 {
  margin-top: 11px;
}
.about-area .image.pr-30{
  padding-right: 0px;
}
.about-area .image.pl-30{
  padding-left: 0px;
}
.features {
  padding-bottom: 100px;
}
.about-area .content {
  margin-top: 40px;
}

.single-how-it-work{
  margin-bottom: 30px;
}
.how-it-work {
  padding: 116px 0px 100px;
}
.single-counter {
  margin-bottom: 23px;
}
.counter-area {
  padding: 126px 0px 102px;
}
.ger-start-secrion .right-links{
  text-align: left;
  margin-top: 18px;
}
.footer-widget.info-link-widget.link-w-2{
  margin-top: 20px;
}
.copy-bg{
  text-align: center;
}
.footer .copy-bg .social-links{
  text-align: center;
  margin-top: 10px;
}
.section-heading .title {
  font-size: 34px;
  line-height: 44px;
}

.single-counter .counter-wrapper {
  font-size: 34px;
  line-height: 44px;
}

.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .nav-link {
 
    padding: 5px 15px;
    display: inline-block;
}
div#main_menu ul{
  padding: 15px 0px 5px;
}
.mainmenu-area .navbar .base-btn2{
  margin-bottom: 8px;
}

.mainmenu-area .navbar #main_menu .navbar-nav .nav-item .dropdown-menu{
  position: relative;
  left: 0px;
  width: 100%;
}


.breadcrumb-area {
  padding: 112px 0px 64px;
}
.breadcrumb-area .title {
  font-size: 30px;
  line-height: 40px;
}
.categori-widget{
  margin-top: 60px;
}

.pricing2 .price-box{
  margin-bottom: 30px;
}
.pricing2 {
  padding: 121px 0px 100px;
}
.faq-area2 #tour-faq2{
  margin-bottom: 30px;
}
.contact .address-area{
  margin-top: 60px;
}
.contact .contact-form-wrapper:before{
  width: 100%;
}

.index4 .mainmenu-area .navbar-light .navbar-toggler-icon, 
.index3 .mainmenu-area .navbar-light .navbar-toggler-icon 
{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.index4 .hero-area .owl-controls .owl-dots {

  bottom: -60px;
}

.hero-area .right-content {
  padding: 0px 150px;
  margin-top: 40px;
}
.single-counter .title {
  font-size: 30px;
  line-height: 40px;
}
.single-counter .sub-title,
.tax-calculator .box-calculator .calculator-title,
.single-how-it-work .title
{
  font-size: 21px;
  line-height: 31px;
}
.choose_us {
  padding: 120px 0px 110px;
}
.choose_us .content .heading .title {
  font-size: 24px;
  line-height: 30px;
}
.start-invest .tab-menu-area .nav-lend .nav-item .nav-link {
  padding: 0px 30px;
}
.ger-start-secrion .right-links .base-btn2 {
  margin-left: 0px;
}
.ger-start-secrion {
  padding: 94px 0px 100px;
}

section.our-advantage .img {
  margin-top: 30px;
}
.box-calculator2{
  margin-top: 30px;
}
.faq-area {
  padding: 120px 0px 130px;
}
.about-area {
  padding-bottom: 110px;
}
.responsive-table {
  width: 100%;
  overflow: auto;
}
.choose_us .cu-content .content .heading .title {
  font-size: 24px;
  line-height: 30px;
}
}

@media  (max-width: 767px) {
 
  .hero-area .left-content .content .subscribe-area {
    padding: 0px 0px;
}
.single-blog .content .title {
  font-size: 20px;
  line-height: 30px;
}
.hero-area .hero-img {
  max-width: 70%;
}
.index2 .hero-area .left-content .text {
  padding: 0px 0px;
}
.hero-area .left-content .content .title {
  font-size: 34px;
  line-height: 44px;
}
.hero-area .right-content {
  padding: 0px 0px;
  margin-top: 40px;
}
.top-counter {
  padding: 0px 0px 97px;
}

.choose_us .content,
.choose_us .content .heading
{
  text-align: center;
}
.choose_us .content{
  margin-top: 40px;
}
.ger-start-secrion .title {
  font-size: 24px;
  line-height: 34px;
}
.start-invest .table tr td a.base-btn1 {
  width: 115px;
}
section.our-advantage .section-heading {
  margin-bottom: 48px;
}

}


@media  (max-width: 575px) {
  .footer-widget.info-link-widget {
    margin-top: 33px;
}
.single-feature .title,
.single-how-it-work .title,
.comment-area .title,
.write-comment .title,
.categori-widget .title,
.latest-post-widget .title,
.newsletter-widget .title,
.about-area .about-list.with-icon li .feature-info .inner-content .title
{
  font-size: 20px;
  line-height: 30px;
}
.ger-start-secrion .title {
  font-size: 24px;
  line-height: 34px;
}
.single-blog-details .content .title{
  font-size: 24px;
  line-height: 34px;
}
.section-heading .title {
  font-size: 30px;
  line-height: 40px;
}

}



@media  (max-width: 414px) {
  
  .hero-area .hero-img {
    max-width: 90%;
}
.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn {
  padding: 0px 12px;
}

.hero-area .left-content .content .subscribe-area .subscribe-form input {
  height: 45px;
  padding: 0px 135px 0px 20px;
  font-size: 14px;
}

.hero-area .left-content .content .subscribe-area .subscribe-form .submit-btn {
  height: 41px;
  line-height: 41px;
  padding: 0px 12px;
  font-size: 14px;
}
.hero-area .left-content .content .title {
  font-size: 32px;
  line-height: 42px;
}
.ger-start-secrion .title {
  font-size: 26px;
  line-height: 36px;
}

.ger-start-secrion .right-links a{
  padding: 12px 25px;
}
.ger-start-secrion .right-links .base-btn2{
  margin-left: 10px;
}
.index2 .video-area {
  margin-top: -120px;
}
.index2 .hero-area {
  padding: 142px 0px 220px;
}
.comment-area .comment-box-area li .comment-box.replay-comment {
  margin-left: 30px;
}

.comment-area .comment-box-area li .comment-box .left{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.comment-area .comment-box-area li .comment-box .right{
  margin-left: 0px;
}
.bottomtotop i {
  width: 40px;
  height: 40px;
  line-height: 40px;
}


}


@media  (max-width: 360px) {

.single-counter .counter-wrapper {
  font-size: 30px;
  line-height: 40px;
}
.hero-area .left-content .content .title {
  font-size: 30px;
  line-height: 40px;
}
.about-area .about-list.with-icon li .feature-info{
  display: block;
}
.about-area .about-list.with-icon li .feature-info .icon{
  margin-bottom: 18px;
}
.about-area .about-list.with-icon li .feature-info {
  margin-bottom: 24px;
}




}



